.navbar-brand img{
width:150px;
}
.nav-link{
    color: rgb(255, 255, 255);
}
.navbar-nav .nav-link.active{
    color: rgb(127, 129, 130);
}
.navbar-toggler{
  background-color: rgb(255, 255, 255);
}
.sidebar{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 174, 0);
    border-style: groove;
    border-radius: 10px;
    margin: 5px;
}
body{

   background-image: url(background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
footer{
    color: rgb(255, 187, 0);
    border-style: groove;
    border-radius: 5px;
    margin: 5px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.myrow img{
    width: 50px;
}
.row1{
    margin: 10px;
    padding: 5px;
    border-style: groove;
    border-radius: 5px;
    border-color: rgb(245, 198, 58);
}
.row2{
    text-align: center;
    color: rgb(255, 166, 0);
}
.col{
    margin: 20px;

}
.card-body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 149, 0);
    
}
.text-div{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 174, 0);
    padding: 10px;
    border-style: groove;
    border-radius: 5px;
    margin: 5px;
    margin-top: 40px;
}
